h1 {
  
  background-color: yellow;
  color: #ffffff;
  font-family: SCG-Font, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 48px;
  /* background-color: #041e42; */
  padding: 0px 0px 0px 32px;
}

h1 a {
  background-color: blue;
  color: #ffffff;
  font-size: 16px;
  /* background-color: #041e42; */
}

.body-main {
  background-color: #f5f5f5;   /* Sets page background */
  /* background-color: red;   /* Sets page background */
  color: #455A64;               /* Sets text color */
  font-family: Arial, sans-serif;
}

.title {
  color: #ffffff;
  font-family: SCG-Font, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 48px;
  background-color: #041e42;
  padding: 12px 0px 0px 32px;
}

.subtitle {
  /* background-color: white; */
  color: #424242;
  font-family: SCG-Font, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 32px 20px 32px;
}

.chart {
  /* background-color: yellow; */
  color: #424242;
  font-family: SCG-Font, sans-serif;
  margin: 20px 0px 0px 0px;
}

.rounded-div {
  border-radius: 20px; /* ปรับขนาดมุมมน */
  /* border: 1px solid #333; /* ใส่เส้นขอบ */
  padding: 10px;
  background-color: white;
}
